
* {
    margin: 0%;
}
body,html {
    font-family: arial,sans-serif;
    margin: 0px;
    padding: 0px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

header{
    text-align: end;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12%;
}
#searchbar {
    width: 500px;
    height: 20px;
}
form {
    text-align: center;
    padding: 10px;
}

.buttons {
    padding-top: 10px;
}
ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.rightside {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }